* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent; 
}

:root {
  --bg-color: #0b1522;       
  --heart-color: #ff2c61;    
  --text-color-timer: #aa1238; ;
  --text-color-mensaje: #b6c0cc; 
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heart {
  position: relative;
  bottom: -5vh;
  height: 42vh;     
  width: 42vh;     
  transform: rotate(-45deg);  
  background-color: var(--heart-color);
  box-shadow: -10px 10px 90px var(--heart-color);
  cursor: pointer;
  animation: heart 1s infinite;
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  height: 42vh;
  width: 42vh;
  min-width: 90px;
  min-height: 90px;
  background-color: var(--heart-color);
  border-radius: 50%;
}

.heart::before {
  top: -21vh; 
  box-shadow: -10px -10px 90px var(--heart-color);
}

.heart::after {
  left: 21vh; 
  box-shadow: 10px 10px 90px var(--heart-color);
}

@keyframes heart {
  0% {
    transform: rotate(-45deg) scale(1);
    box-shadow: -10px 10px 90px var(--heart-color);
  }
  50% {
    transform: rotate(-45deg) scale(1.15);
    box-shadow: -10px 10px 120px var(--heart-color);
  }
  100% {
    transform: rotate(-45deg) scale(1);
    box-shadow: -10px 10px 90px var(--heart-color);
  }
}

@keyframes heart2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}

.timer {
  position: absolute;
  top: 42vh;
  color: var(--text-color-timer);
  text-align: center;
  font-family: "Chela One", system-ui;
  font-size: clamp(1.3rem, 1.6vw, 2rem);
  letter-spacing: 2px;
  animation: heart2 1s infinite;
  cursor: pointer;
}

.mensaje { 
  position: relative;
  top: 17vh;
  margin-top: 10px;
  font-family: "Dancing Script", cursive;
  font-size: clamp(1.3rem, 10vw, 2rem);
  color: var(--text-color-mensaje);
  text-align: center;
  text-shadow: 0 0 10px rgba(255, 50, 100, 0.4);
}

.timer,
.mensaje {
  opacity: 0;
  transform: translateY(0);
  transition: opacity 0.8s ease;
}

.show {
  opacity: 1;
}

/* Responsive Telefono */
@media (max-width: 600px) {
  .heart {
    height: 20vh;
    width: 20vh;
    bottom: -3vh;
  }

  .heart::before,
  .heart::after {
    height: 20vh;
    width: 20vh;
  }

  .heart::before {
    top: -10vh;
  }

  .heart::after {
    left: 10vh;
  }

  .timer {
    top: 45vh;
    font-size: clamp(0.8rem, 4vw, 0.8rem);
  }

  .mensaje {
    top: 10vh;
    font-size: clamp(1.2rem, 9vw, 1.8rem);
  }
}
